<!DOCTYPE html>
<html lang="de">
    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Error 404</h1>
                <p>Es wurde eine Seite aufgerufen, deren Route nicht definiert ist.</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>