<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>

        <script type="text/javascript">
            $(document).ready(function(){

                // Lege ein Turnier an
                $('#turnierAnlegen').submit(function(e) {
                    e.preventDefault();

                    // Wenn vor via AJAX ein Turnier angelegt wurde, ersetze den Link durch den Link auf das neue Turnier
                    $('.addid').html('');

                    var teilnehmer = $('#teilnehmer').val();
                    var teamgroesse = $('#teamgroesse').val();
                    var typ = $('#typ').val();
                    var austragungsort = $('#austragungsort').val();

                    if(!(teilnehmer && teamgroesse)) {
                        alert('Bitte Felder ausfüllen');
                        return false;
                    }

                    if(typ =='0') {
                        alert('Bitte Turniertyp wählen');
                        return false;
                    }

                    // Wenn kein Austragungsort gesetzt, verhindere Crashes durch "null" Attribut
                    if(austragungsort == '0') {
                        austragungsort = null;
                    }

                    /*
                    if(teilnehmer < 0 || !(teamgroesse == 1 || teamgroesse==2)){
                        alert('Bitte Daten überprüfen'); 
                        return false;
                    }  */


                    //Legt fest wieviele Teams es geben wird 
                    var anzahlTeams=teilnehmer / teamgroesse;

                    //Es gibt keine Spieler oder der Turnierplan geht nicht auf  
                    if(anzahlTeams < 0 || anzahlTeams %2 != 0){
                        alert('Bitte Daten überprüfen'); 
                        return false;
                    }

                    var formData = {Teilnehmeranzahl : teilnehmer,
                                    Teamgroesse : teamgroesse,
                                    Typ : typ,
                                    Austragungsort:austragungsort,
                                   Austragungszeitraum: null,
                                   Status: 'angelegt'}

                    // Sende POST Request um neues Turnier anzulegen
                    $.ajax({
                        type: 'POST',
                        contentType: 'application/json',
                        url: '/Turnier/',

                        data: JSON.stringify(formData),
                        success: function(data) {
                            $('#turnierAnlegen').each(function() {
                                this.reset();
                            });

                            $('.addid').append('<a href="/Turnier/'+data.id+'">Turnier <span class="turnierId">'+data.id+'</span> angelegt</a>.');

                        },
                        statusCode: {
                            400: function() {
                                alert('Die Anfrage war nicht korrekt.');
                            }
                        },
                        fail: function() {
                            alert('Fehler');
                        }

                    });

                });

            });
        </script>
    </head>

    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Turnier</h1>

                        <div class="row">
                            <div class="col-md-6">
                                <form role="form" action="" method="POST" name="turnierAnlegen" id="turnierAnlegen">
                                    <div class="form-group">
                                        <label for="teilnehmer">Teilnehmer:</label> <br>
                                        <input type="text" id="teilnehmer" class="form-control" placeholder="Wie viele Spieler?" maxlength="100" /> 
                                    </div>
                                    <div class="form-group">
                                        <label for="teamgroesse">Teamgroesse:</label> <br>
                                        <input type="text" id="teamgroesse" class="form-control" placeholder="Wie viele pro Team?" maxlength="100" />
                                    </div>
                                    <div class="form-group">
                                        <label for="austragungsort">Austragungsort:</label> <br>
                                        <select id="austragungsort" class="form-control">
                                            <option value="0">Bitte wählen (optional)</option>
                                            <% austragungsorte.forEach(function(austragungsort) { %>
                                           
                                            <option class="austragungsort" value="/Austragungsort/<%= austragungsort.id %>"><%= austragungsort.Name %> <% ortTischMapping.forEach(function(map) { 
                                                if(map.Ort == austragungsort.Name) { %> 
                                                (<%= map.Tische %> Kickertische)
                                                <%} }); %>
                                            </option>
                                           
                                            <% });  %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="typ">Art des Turniers:</label> <br>
                                        <select id="typ" class="form-control">
                                            <option value="0">Bitte wählen</option>
                                            <option class="liga" value="Liga">Liga</option>
                                        </select>
                                    </div>
                                    <input type="submit" class="btn btn-primary" name="send" value="Absenden" />

                                </form>
                            </div>
                        </div>
                        <br />
                        <p class="addid"></p>
                    </div>

                </div>

            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>