<!DOCTYPE html>
<html lang="de">
    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <h1>Demo erfolgreich</h1>
                <p>8 Benutzer und 2 Austragungsorte angelegt.</p>
                <p>Für erfolgreiches Testen aller Funktionen ist das Anlegen eines Kickertisches notwendig.</p>
                <p><a href="/Austragungsort/1">Kickertisch anlegen</a>.</p>
            </div>
        </main>

        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>