<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
  <header>
        <% include ../partials/header %>
    </header>
<body class="container">

 <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h1>Benutzer <%= benutzer.Name %></h1>
                   <br />
                     <ul>
            <li>Alter: <%= benutzer.Alter %></li>
                    </ul> 
                    <br />
                 
  	       
                </div>
                
            </div>
           
        </div>
    </main>
 <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>