<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>
</head>
<script type="text/javascript" src="http://localhost:8000/faye/client.js"></script>
    
<script>
    
    var url = window.location.pathname.split("/");
    
    var pathurl = url[2];
    
    var client = new Faye.Client('http://localhost:8000/faye');
    
    var subscription = client.subscribe('/liveticker/'+pathurl, function(message) {

        var div = $('#messages');
        div.prepend("<p> Spielstand Team1: " + message.SpielstandT1 + "<br> Spielstand Team2: " + message.SpielstandT2 + "</p>");
        
    });
</script>
    
<header>
    <% include ../partials/header %>
</header>
    
<body class="container">

<main>
            <div class="row">
                <div class="col-sm-12">

                    <div class="jumbotron">
                        <h1>Liveticker</h1>
                        <br />
                       <div id="messages"></div>
                    </div>

                </div>

            </div>
        </main>
    
<footer>
    <% include ../partials/footer %>
</footer>
    
</body>
</html>