<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<script type="text/javascript">
			$(document).ready(function(){
				
				$('form').submit(function(event) {
				
					var MatchId = $('#MatchId').val();

					var formData =  {
						
						spieler1 : $('#spieler1').val(),
						spieler2 : $('#spieler2').val(),
						spieler3 : $('#spieler3').val(),
						spieler4 : $('#spieler4').val(),
						datum : $('#datum').val(),
						uhrzeit : $('#uhrzeit').val(),
						austragungsort : $('#austragungsort').val()
						};

						alert('Ihre Anfrage wird verarbeitet');
						
							$.ajax({
								type: 'PUT',
								url: 'http://localhost:3001/Match/'+MatchId,
								crossDomain:true,
								data: JSON.stringify(formData),
								dataType: 'json',
								encode: true
								}).done(function(data){
								console.log(data);
								}).fail(function(e){
								console.log(e);
							});

								event.preventDefault();
						});
			});
		</script>
		
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="row">
            <div class="col-sm-8">
            
                <div class="jumbotron">
                    <h1>Match PUT</h1>
                   <form method="PUT" name="matchBearbeiten">
         <label for="MatchId">Auf welches Match soll ein PUT abgesetzt werden?</label> <br>
        <input type="text" id="MatchId" placeholder="z.B. '85'" maxlength="100" /><br>          
        <label for="spieler1">Spieler 1:</label> <br>
        <input type="text" id="spieler1" placeholder="z.B. pokpok" maxlength="100" /><br>
		 <label for="spieler2">Spieler 2:</label> <br>
        <input type="text" id="spieler2" placeholder="z.B. pokpok" maxlength="100" /><br>
         <label for="spieler3">Spieler 3:</label> <br>
        <input type="text" id="spieler3" placeholder="z.B. pokpok" maxlength="100" /><br>
         <label for="spieler4">Spieler 4:</label> <br>
        <input type="text" id="spieler4" placeholder="z.B. pokpok" maxlength="100" /><br>
        <label for="datum">Datum:</label> <br>
        <input type="text" id="datum" placeholder="Form: 2012-04-12" maxlength="100" /><br>
        
         <label for="uhrzeit">Uhrzeit:</label> <br>
        <input type="text" id="uhrzeit" placeholder="Form: 12:00:00" maxlength="100" /><br>
        
         <label for="Austragungsort">Austragungsort:</label> <br>
        <input type="text" id="austragungsort" placeholder="z.B. Köln" maxlength="100" /><br>
			<br />
        <button type="submit" id="matchAnlegen">Submit</button>

        </form>
                </div>
                
            </div>
           
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>