<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">

            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/Turnier/addTurnier">Add Turnier</a></li>
            <li><a href="/Match/addMatch">Add Match</a></li>
            <li><a href="/Austragungsort/addAustragungsort">Add Austragungsort</a></li>
            <li><a href="/Benutzer/addBenutzer">Add Benutzer</a></li>
            <li><a href="/Benutzer/allebenutzer">Alle Benutzer</a></li>
            <li><a href="/Match/allematches">Alle Matches</a></li>
            <li><a href="/Turnier/alleturniere">Alle Turniere</a></li>
            <li><a href="/Austragungsort/alleaustragungsorte">Alle Austragungsorte</a></li>
        </ul>

    </div>
</nav>